@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Wix+Madefor+Display:wght@800&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: 'Open Sans', sans-serif;
}
